.carousel {
  width: 500px;
  height: 500px;
}

.carouselExpanded {
  width: 1110px;
  height: 650px;
  z-index: 2;
  background-color:white;
}

.carouselZoomed {
  width: 100vh;
  height: 100vh;
}

.mainImage {
  width: 100%;
  height: 100%;
  /* cursor: zoom-in; */
}
/*
.carouselItem {
  height: 100%
} */

.thumbnailImage {
  width: 14%;
  height: 100%;
}


.mainImageContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.expandButton {
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url("/expand.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}