.carousel {
  width: inherit;
  height: 675px;
}

.carouselExpanded {
  width: inherit;
  height: 675px;
  z-index: 2;
  background-color: #E6E6E6;
}

.carouselZoomed {
  width: 100vh;
  height: 100vh;
}

.mainImage {
  max-height: 100%;
  object-fit: cover;
  cursor: zoom-in;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnailImage {
  width: 14%;
  height: 100%;
}

.mainImageContainer {
  margin-top: 10px;
  background-color: #E6E6E6;
}

.expandButton {
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url("/expand.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
}

.upArrow {
  position: relative;
  left: 25%;
  background-image: url("/up-arrow.png");
  height: 10px;
  width: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
}