/* .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

.App > div {
  margin-bottom: 75px;
} */

.carousel-inner {
  height: inherit;
  width: inherit;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 0;
}
