/* .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}
*/
.App > div {
  margin-bottom: 50px;
}

#__next {
  background-color: gray;
}

.App {
  background-color: white;
}

.carousel-inner {
  height: inherit;
  width: inherit;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 0;
}

/* REVIEWS */

.review-card {
  margin: 20px 0px;
}

.review-buttons {
  margin: 0px 10px;
}

.review-summary {
  font-weight: 900;
}

.char-rating {
  margin: 10px 0px;
  width: 100%;
}
.char-bar {
  background-color: lightgray;
  color: lightgray;
  width: auto;
  height: 5px;
  font-size: 1px;
}

.char-labels {
  text-align: center;
}

.char-rating .char-left {
  float: left;
}

.char-rating .char-right {
  float: right;
}